* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.task-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-form input {
  flex: 1;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.task-form button {
  background-color: #6c63ff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
}

.task-item h3 {
  font-size: 18px;
  display: inline;
  color: #333;
  text-transform: capitalize;
  cursor: pointer;
}

.task-item span {
  font-size: 14px;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  text-align: center;
  border: #333 solid 1px;
  border-radius: 50%;
  color: #666;
}

.task-item .completed {
  text-decoration: line-through;
  color: #888;
}





.task-item .btn {
  margin: 2px;
  color: #cfcaca;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.task-item .btn.edit {
  background-color: #ffb74d;
  color: white;

}

.task-item .btn.delete {
  background-color: #ff5252;
  color: white;
  margin-left: 12px;
}

.update-form {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 6px;
}

.update-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.update-form input {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 300px;
}

.update-form label {
  font-size: 16px;
  color: #333;
}

.update-form input[type='checkbox'] {
  width: auto;
  margin-left: 16px;
  transform: scale(1.5);
  padding: 8px;
}



.update-form button {
  background-color: #6c63ff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.update-form .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
}